<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktx.platform.dao.tb.RoleMapper">
  <resultMap id="BaseResultMap" type="com.zktx.platform.entity.tb.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, info
  </sql>
  <select id="queryList" parameterType="int" resultMap="BaseResultMap">
  	select * from tb_role;
  </select>
  <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select * from tb_role a , tb_user_role b where a.id = b.role_id and b.user_id = #{uid} 
  </select>
  <select id="findRolesByUserId" resultType="com.zktx.platform.entity.tb.Role">
  	select r.id,r.name,r.info
  	 from tb_user_role ur inner join tb_role r on ur.role_id=r.id where ur.user_id=#{userid,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
  	select * from tb_role
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zktx.platform.entity.tb.Role">
    insert into tb_role (id, name, info
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zktx.platform.entity.tb.Role">
    insert into tb_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zktx.platform.entity.tb.Role">
    update tb_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zktx.platform.entity.tb.Role">
    update tb_role
    set name = #{name,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>