<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktx.platform.dao.tb.RolePermissionMapper">
	
	<delete id="deleteByRoleId" parameterType="java.lang.Integer">
		delete from tb_role_permission where role_id=#{roleid,jdbcType=INTEGER}
	</delete>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into tb_role_permission (permission_id,role_id) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.permission_id,jdbcType=INTEGER},#{item.role_id,jdbcType=INTEGER})
		</foreach>
	</insert>
</mapper>