<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktx.platform.dao.tb.StageMapper">
  <resultMap id="BaseResultMap" type="com.zktx.platform.entity.tb.Stage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="import_table_id" jdbcType="INTEGER" property="import_table_id" />
    <result column="stage_id" jdbcType="INTEGER" property="stage_id" />
    <result column="import_type" jdbcType="BIT" property="import_type" />
    <result column="inserted_num" jdbcType="INTEGER" property="inserted_num" />
    <result column="updated_num" jdbcType="INTEGER" property="updated_num" />
    <result column="deleted_num" jdbcType="INTEGER" property="deleted_num" />
    <result column="record_num" jdbcType="INTEGER" property="record_num" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="process_status" jdbcType="INTEGER" property="process_status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="begin_time" />
    <result column="end_time" jdbcType="TIMESTAMP" property="end_time" />
    <association column="import_table_id"  property="importTables" select="selectImportTablesById"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zktx.platform.entity.tb.Stage">
    <result column="fail_info" jdbcType="LONGVARCHAR" property="fail_info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, import_table_id, stage_id, import_type, inserted_num, updated_num, deleted_num, 
    record_num, status, process_status, create_time, update_time, begin_time, end_time
  </sql>
  <sql id="Blob_Column_List">
    fail_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_stage
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="queryStageByTableType" resultMap="ResultMapWithBLOBs">
  	 select s.id, s.import_table_id, s.stage_id, s.import_type, s.inserted_num, s.updated_num, s.deleted_num, 
    s.record_num, s.status, s.process_status, s.create_time, s.update_time, s.begin_time, s.end_time,s.fail_info
    from tb_stage s, tb_import_tables t
    <where>
    	s.import_table_id=t.id and t.flag=0 and status=1
    	<if test="table_type !=null">
    		and t.table_type =#{table_type,jdbcType=INTEGER}
    	</if>
    </where>
    order by s.id desc
    limit #{offset,jdbcType=INTEGER} , #{limit,jdbcType=INTEGER}
  </select>
  <select id="queryCountByTableType" resultType="java.lang.Integer">
  	select count(*)  from tb_stage s, tb_import_tables t
  	<where>
    	s.import_table_id=t.id and t.flag=0 and status=1
    	<if test="table_type !=null">
    		and t.table_type =#{table_type,jdbcType=INTEGER}
    	</if>
    </where>
  </select>
   <select id="queryStageByTableId" resultMap="ResultMapWithBLOBs">
  	 select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_stage
    where import_table_id = #{import_table_id,jdbcType=INTEGER}
    order by id desc
    limit #{offset,jdbcType=INTEGER} , #{limit,jdbcType=INTEGER}
  </select>
   <select id="queryStageList" resultMap="ResultMapWithBLOBs">
  	 select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_stage
    <where>
    	<if test="tbid != null">
    	import_table_id = #{tbid}
    	</if>
    </where>
    order by id desc
    limit #{offset,jdbcType=INTEGER} , #{limit,jdbcType=INTEGER}
  </select>
  <select id="selectImportTablesById" parameterType="java.lang.Integer" resultType="com.zktx.platform.entity.tb.ImportTables">
  		select * from tb_import_tables where id =#{import_table_id}
  </select>
  <select id="queryCountByTableId" resultType="java.lang.Integer">
  	select count(*) from tb_stage where import_table_id = #{import_table_id,jdbcType=INTEGER}
  </select>
  <select id="queryCount" resultType="java.lang.Integer">
  	select count(*) from tb_stage
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_stage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zktx.platform.entity.tb.Stage">
    insert into tb_stage (id, import_table_id, stage_id, 
      import_type, inserted_num, updated_num, 
      deleted_num, record_num, status, 
      process_status, create_time, update_time, 
      begin_time, end_time, fail_info
      )
    values (#{id,jdbcType=INTEGER}, #{import_table_id,jdbcType=INTEGER}, #{stage_id,jdbcType=INTEGER}, 
      #{import_type,jdbcType=BIT}, #{inserted_num,jdbcType=INTEGER}, #{updated_num,jdbcType=INTEGER}, 
      #{deleted_num,jdbcType=INTEGER}, #{record_num,jdbcType=INTEGER}, #{status,jdbcType=BIT}, 
      #{process_status,jdbcType=INTEGER}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, 
      #{begin_time,jdbcType=TIMESTAMP}, #{end_time,jdbcType=TIMESTAMP}, #{fail_info,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zktx.platform.entity.tb.Stage">
    insert into tb_stage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="import_table_id != null">
        import_table_id,
      </if>
      <if test="stage_id != null">
        stage_id,
      </if>
      <if test="import_type != null">
        import_type,
      </if>
      <if test="inserted_num != null">
        inserted_num,
      </if>
      <if test="updated_num != null">
        updated_num,
      </if>
      <if test="deleted_num != null">
        deleted_num,
      </if>
      <if test="record_num != null">
        record_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="process_status != null">
        process_status,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="begin_time != null">
        begin_time,
      </if>
      <if test="end_time != null">
        end_time,
      </if>
      <if test="fail_info != null">
        fail_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="import_table_id != null">
        #{import_table_id,jdbcType=INTEGER},
      </if>
      <if test="stage_id != null">
        #{stage_id,jdbcType=INTEGER},
      </if>
      <if test="import_type != null">
        #{import_type,jdbcType=BIT},
      </if>
      <if test="inserted_num != null">
        #{inserted_num,jdbcType=INTEGER},
      </if>
      <if test="updated_num != null">
        #{updated_num,jdbcType=INTEGER},
      </if>
      <if test="deleted_num != null">
        #{deleted_num,jdbcType=INTEGER},
      </if>
      <if test="record_num != null">
        #{record_num,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="process_status != null">
        #{process_status,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="begin_time != null">
        #{begin_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="fail_info != null">
        #{fail_info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zktx.platform.entity.tb.Stage">
    update tb_stage
    <set>
      <if test="import_table_id != null">
        import_table_id = #{import_table_id,jdbcType=INTEGER},
      </if>
      <if test="stage_id != null">
        stage_id = #{stage_id,jdbcType=INTEGER},
      </if>
      <if test="import_type != null">
        import_type = #{import_type,jdbcType=BIT},
      </if>
      <if test="inserted_num != null">
        inserted_num = #{inserted_num,jdbcType=INTEGER},
      </if>
      <if test="updated_num != null">
        updated_num = #{updated_num,jdbcType=INTEGER},
      </if>
      <if test="deleted_num != null">
        deleted_num = #{deleted_num,jdbcType=INTEGER},
      </if>
      <if test="record_num != null">
        record_num = #{record_num,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="process_status != null">
        process_status = #{process_status,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="begin_time != null">
        begin_time = #{begin_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="fail_info != null">
        fail_info = #{fail_info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zktx.platform.entity.tb.Stage">
    update tb_stage
    set import_table_id = #{import_table_id,jdbcType=INTEGER},
      stage_id = #{stage_id,jdbcType=INTEGER},
      import_type = #{import_type,jdbcType=BIT},
      inserted_num = #{inserted_num,jdbcType=INTEGER},
      updated_num = #{updated_num,jdbcType=INTEGER},
      deleted_num = #{deleted_num,jdbcType=INTEGER},
      record_num = #{record_num,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      process_status = #{process_status,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      begin_time = #{begin_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      fail_info = #{fail_info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zktx.platform.entity.tb.Stage">
    update tb_stage
    set import_table_id = #{import_table_id,jdbcType=INTEGER},
      stage_id = #{stage_id,jdbcType=INTEGER},
      import_type = #{import_type,jdbcType=BIT},
      inserted_num = #{inserted_num,jdbcType=INTEGER},
      updated_num = #{updated_num,jdbcType=INTEGER},
      deleted_num = #{deleted_num,jdbcType=INTEGER},
      record_num = #{record_num,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      process_status = #{process_status,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      begin_time = #{begin_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>