<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktx.platform.dao.tb.TaskHistoryMapper">
  <resultMap id="BaseResultMap" type="com.zktx.platform.entity.tb.TaskHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mr_task_id" jdbcType="INTEGER" property="mr_task_id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="begin_time" />
    <result column="end_time" jdbcType="TIMESTAMP" property="end_time" />
    <result column="result_status" jdbcType="BIT" property="result_status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zktx.platform.entity.tb.TaskHistoryWithBLOBs">
    <result column="table_stage_info" jdbcType="LONGVARCHAR" property="table_stage_info" />
    <result column="result" jdbcType="LONGVARCHAR" property="result" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mr_task_id, create_time, update_time, begin_time, end_time, result_status
  </sql>
  <sql id="Blob_Column_List">
    table_stage_info, result
  </sql>
  
  <select id="queryByPage" resultMap="ResultMapWithBLOBs">
  	select a.*, b.name, b.type from tb_task_history a, tb_mr_task b
  	where
  		a.mr_task_id = b.id
  		<if test='type != null and type != ""'>
  			and result_status = #{type}
  		</if>
  	order by id desc limit #{offset,jdbcType=INTEGER} , #{limit,jdbcType=INTEGER}
  </select>
  
  <select id="queryCountByPage" resultType="Integer">
  	select count(*) from tb_task_history 
  	<where>
  		<if test='type != null and type != ""'>
  			result_status = #{type}
  		</if>
  	</where>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_task_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_task_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zktx.platform.entity.tb.TaskHistoryWithBLOBs">
    insert into tb_task_history (id, mr_task_id, create_time, 
      update_time, begin_time, end_time, 
      result_status, table_stage_info, result
      )
    values (#{id,jdbcType=INTEGER}, #{mr_task_id,jdbcType=INTEGER}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP}, #{begin_time,jdbcType=TIMESTAMP}, #{end_time,jdbcType=TIMESTAMP}, 
      #{result_status,jdbcType=BIT}, #{table_stage_info,jdbcType=LONGVARCHAR}, #{result,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zktx.platform.entity.tb.TaskHistoryWithBLOBs">
    insert into tb_task_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mr_task_id != null">
        mr_task_id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="begin_time != null">
        begin_time,
      </if>
      <if test="end_time != null">
        end_time,
      </if>
      <if test="result_status != null">
        result_status,
      </if>
      <if test="table_stage_info != null">
        table_stage_info,
      </if>
      <if test="result != null">
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mr_task_id != null">
        #{mr_task_id,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="begin_time != null">
        #{begin_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="result_status != null">
        #{result_status,jdbcType=BIT},
      </if>
      <if test="table_stage_info != null">
        #{table_stage_info,jdbcType=LONGVARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zktx.platform.entity.tb.TaskHistoryWithBLOBs">
    update tb_task_history
    <set>
      <if test="mr_task_id != null">
        mr_task_id = #{mr_task_id,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="begin_time != null">
        begin_time = #{begin_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="result_status != null">
        result_status = #{result_status,jdbcType=BIT},
      </if>
      <if test="table_stage_info != null">
        table_stage_info = #{table_stage_info,jdbcType=LONGVARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zktx.platform.entity.tb.TaskHistoryWithBLOBs">
    update tb_task_history
    set mr_task_id = #{mr_task_id,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      begin_time = #{begin_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      result_status = #{result_status,jdbcType=BIT},
      table_stage_info = #{table_stage_info,jdbcType=LONGVARCHAR},
      result = #{result,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zktx.platform.entity.tb.TaskHistory">
    update tb_task_history
    set mr_task_id = #{mr_task_id,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      begin_time = #{begin_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      result_status = #{result_status,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>