<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktx.platform.dao.tb.UserMapper">
  <resultMap id="BaseResultMap" type="com.zktx.platform.entity.tb.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="emial" jdbcType="VARCHAR" property="emial" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="token_invalid_time" jdbcType="VARCHAR" property="token_invalid_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pwd, emial, phone, salt, status, token, token_invalid_time
  </sql>
  <sql id="Column_without_pwd_List">
    id, name, emial, phone, status, token, token_invalid_time
  </sql>
  
  <select id="findSSOAuthorityNumByUid" resultType="java.lang.Integer">
	select sum(c.code) from tb_user a , tb_system_user_role b , tb_system_role c where a.id = b.uid and b.sys_role_id = c.id and a.id = #{uid} 
	and c.system_id = #{system_id}
  </select>
  
  <select id="findByToken" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	<include refid="Column_without_pwd_List" /> 
  	from tb_user where token = #{token}
  </select>
  <update id="updateToken">
  	update tb_user set token = #{token}, token_invalid_time = #{time} where id = #{id}
  </update>
  <select id="findByName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from tb_user
    where `name` = #{username,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zktx.platform.entity.tb.User">
    insert into tb_user (id, name, pwd, 
      emial, phone, salt, 
      status, token, token_invalid_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{emial,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{token}, #{token_invalid_time})
  </insert>
  <insert id="insertSelective" parameterType="com.zktx.platform.entity.tb.User">
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="emial != null">
        emial,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="token_invalid_time != null">
        token_invalid_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="emial != null">
        #{emial,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="token != null">
        #{token},
      </if>
      <if test="token_invalid_time != null">
        #{token_invalid_time},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zktx.platform.entity.tb.User">
    update tb_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="emial != null">
        emial = #{emial,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="token != null">
        token = #{token},
      </if>
      <if test="token_invalid_time != null">
        token_invalid_time = #{token_invalid_time},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zktx.platform.entity.tb.User">
    update tb_user
    set name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      emial = #{emial,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      token = #{token},
      token_invalid_time = #{token_invalid_time},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>